<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New User</title>
    </head>
    <body>
        <h3>Добавить пользователя</h3>
        <form method="POST">
            <p><a href="/">Назад</a></p>
            <label>Username</label><br>
            <input type="text" name="Name1" /><br><br>
            <label>Surname</label><br>
            <input type="text" name="Name2" /><br><br>
            <input type="submit" value="Отправить" />
        </form>
    </body>
</html>